<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
        <File name="FILE" fileName="log/app.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="TRACE" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>